<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>.notdef.1</key>
    <string>_notdef.1.glif</string>
    <key>.notdef.2</key>
    <string>_notdef.2.glif</string>
    <key>.notdef.3</key>
    <string>_notdef.3.glif</string>
    <key>.notdef.4</key>
    <string>_notdef.4.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>u2AE14</key>
    <string>u2A_E_14.glif</string>
    <key>u2C0C9</key>
    <string>u2C_0C_9.glif</string>
    <key>u2C350</key>
    <string>u2C_350.glif</string>
    <key>u2DE4A</key>
    <string>u2D_E_4A_.glif</string>
    <key>u3062B</key>
    <string>u3062B_.glif</string>
    <key>u30630</key>
    <string>u30630.glif</string>
    <key>u30631</key>
    <string>u30631.glif</string>
    <key>u30C3B</key>
    <string>u30C_3B_.glif</string>
    <key>u30C58</key>
    <string>u30C_58.glif</string>
    <key>u30C59</key>
    <string>u30C_59.glif</string>
    <key>u30C68</key>
    <string>u30C_68.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>uni2FF0</key>
    <string>uni2F_F_0.glif</string>
    <key>uni2FF1</key>
    <string>uni2F_F_1.glif</string>
    <key>uni3001</key>
    <string>uni3001.glif</string>
    <key>uni3002</key>
    <string>uni3002.glif</string>
    <key>uni300A</key>
    <string>uni300A_.glif</string>
    <key>uni300A.vert</key>
    <string>uni300A_.vert.glif</string>
    <key>uni300B</key>
    <string>uni300B_.glif</string>
    <key>uni300B.vert</key>
    <string>uni300B_.vert.glif</string>
    <key>uni3B66</key>
    <string>uni3B_66.glif</string>
    <key>uni4E0A</key>
    <string>uni4E_0A_.glif</string>
    <key>uni4E19</key>
    <string>uni4E_19.glif</string>
    <key>uni4E1B</key>
    <string>uni4E_1B_.glif</string>
    <key>uni4E2D</key>
    <string>uni4E_2D_.glif</string>
    <key>uni4E8B</key>
    <string>uni4E_8B_.glif</string>
    <key>uni4EAC</key>
    <string>uni4E_A_C_.glif</string>
    <key>uni4EAE</key>
    <string>uni4E_A_E_.glif</string>
    <key>uni4EE3</key>
    <string>uni4E_E_3.glif</string>
    <key>uni4EE5</key>
    <string>uni4E_E_5.glif</string>
    <key>uni4FCA</key>
    <string>uni4F_C_A_.glif</string>
    <key>uni4FDD</key>
    <string>uni4F_D_D_.glif</string>
    <key>uni5167</key>
    <string>uni5167.glif</string>
    <key>uni516C</key>
    <string>uni516C_.glif</string>
    <key>uni5178</key>
    <string>uni5178.glif</string>
    <key>uni52D9</key>
    <string>uni52D_9.glif</string>
    <key>uni5317</key>
    <string>uni5317.glif</string>
    <key>uni5357</key>
    <string>uni5357.glif</string>
    <key>uni5370</key>
    <string>uni5370.glif</string>
    <key>uni53F2</key>
    <string>uni53F_2.glif</string>
    <key>uni540C</key>
    <string>uni540C_.glif</string>
    <key>uni5546</key>
    <string>uni5546.glif</string>
    <key>uni5553</key>
    <string>uni5553.glif</string>
    <key>uni55BF</key>
    <string>uni55B_F_.glif</string>
    <key>uni55E3</key>
    <string>uni55E_3.glif</string>
    <key>uni5609</key>
    <string>uni5609.glif</string>
    <key>uni570B</key>
    <string>uni570B_.glif</string>
    <key>uni5730</key>
    <string>uni5730.glif</string>
    <key>uni5831</key>
    <string>uni5831.glif</string>
    <key>uni5927</key>
    <string>uni5927.glif</string>
    <key>uni592E</key>
    <string>uni592E_.glif</string>
    <key>uni5949</key>
    <string>uni5949.glif</string>
    <key>uni5B50</key>
    <string>uni5B_50.glif</string>
    <key>uni5B89</key>
    <string>uni5B_89.glif</string>
    <key>uni5BE7</key>
    <string>uni5B_E_7.glif</string>
    <key>uni5C07</key>
    <string>uni5C_07.glif</string>
    <key>uni5C40</key>
    <string>uni5C_40.glif</string>
    <key>uni5C71</key>
    <string>uni5C_71.glif</string>
    <key>uni5CB3</key>
    <string>uni5C_B_3.glif</string>
    <key>uni5DE1</key>
    <string>uni5D_E_1.glif</string>
    <key>uni5E16</key>
    <string>uni5E_16.glif</string>
    <key>uni5E38</key>
    <string>uni5E_38.glif</string>
    <key>uni5E73</key>
    <string>uni5E_73.glif</string>
    <key>uni5E9C</key>
    <string>uni5E_9C_.glif</string>
    <key>uni5EAB</key>
    <string>uni5E_A_B_.glif</string>
    <key>uni5FB7</key>
    <string>uni5F_B_7.glif</string>
    <key>uni606D</key>
    <string>uni606D_.glif</string>
    <key>uni6148</key>
    <string>uni6148.glif</string>
    <key>uni61C9</key>
    <string>uni61C_9.glif</string>
    <key>uni6240</key>
    <string>uni6240.glif</string>
    <key>uni627F</key>
    <string>uni627F_.glif</string>
    <key>uni62DB</key>
    <string>uni62D_B_.glif</string>
    <key>uni6309</key>
    <string>uni6309.glif</string>
    <key>uni63ED</key>
    <string>uni63E_D_.glif</string>
    <key>uni64AB</key>
    <string>uni64A_B_.glif</string>
    <key>uni6536</key>
    <string>uni6536.glif</string>
    <key>uni6599</key>
    <string>uni6599.glif</string>
    <key>uni65B9</key>
    <string>uni65B_9.glif</string>
    <key>uni65BC</key>
    <string>uni65B_C_.glif</string>
    <key>uni660E</key>
    <string>uni660E_.glif</string>
    <key>uni66F8</key>
    <string>uni66F_8.glif</string>
    <key>uni6710</key>
    <string>uni6710.glif</string>
    <key>uni6717</key>
    <string>uni6717.glif</string>
    <key>uni6728</key>
    <string>uni6728.glif</string>
    <key>uni672B</key>
    <string>uni672B_.glif</string>
    <key>uni672C</key>
    <string>uni672C_.glif</string>
    <key>uni6731</key>
    <string>uni6731.glif</string>
    <key>uni6771</key>
    <string>uni6771.glif</string>
    <key>uni6848</key>
    <string>uni6848.glif</string>
    <key>uni6A94</key>
    <string>uni6A_94.glif</string>
    <key>uni6B23</key>
    <string>uni6B_23.glif</string>
    <key>uni6B77</key>
    <string>uni6B_77.glif</string>
    <key>uni6C38</key>
    <string>uni6C_38.glif</string>
    <key>uni6CB3</key>
    <string>uni6C_B_3.glif</string>
    <key>uni6CBA</key>
    <string>uni6C_B_A_.glif</string>
    <key>uni6CE9</key>
    <string>uni6C_E_9.glif</string>
    <key>uni6CF0</key>
    <string>uni6C_F_0.glif</string>
    <key>uni6D77</key>
    <string>uni6D_77.glif</string>
    <key>uni6E05</key>
    <string>uni6E_05.glif</string>
    <key>uni6E78</key>
    <string>uni6E_78.glif</string>
    <key>uni70A4</key>
    <string>uni70A_4.glif</string>
    <key>uni70BA</key>
    <string>uni70B_A_.glif</string>
    <key>uni738B</key>
    <string>uni738B_.glif</string>
    <key>uni7531</key>
    <string>uni7531.glif</string>
    <key>uni7532</key>
    <string>uni7532.glif</string>
    <key>uni767B</key>
    <string>uni767B_.glif</string>
    <key>uni7814</key>
    <string>uni7814.glif</string>
    <key>uni7940</key>
    <string>uni7940.glif</string>
    <key>uni7965</key>
    <string>uni7965.glif</string>
    <key>uni7A76</key>
    <string>uni7A_76.glif</string>
    <key>uni7ACB</key>
    <string>uni7A_C_B_.glif</string>
    <key>uni7DE8</key>
    <string>uni7D_E_8.glif</string>
    <key>uni8059</key>
    <string>uni8059.glif</string>
    <key>uni81E8</key>
    <string>uni81E_8.glif</string>
    <key>uni8207</key>
    <string>uni8207.glif</string>
    <key>uni8279</key>
    <string>uni8279.glif</string>
    <key>uni83EF</key>
    <string>uni83E_F_.glif</string>
    <key>uni85CF</key>
    <string>uni85C_F_.glif</string>
    <key>uni865F</key>
    <string>uni865F_.glif</string>
    <key>uni8865</key>
    <string>uni8865.glif</string>
    <key>uni88DC</key>
    <string>uni88D_C_.glif</string>
    <key>uni8A00</key>
    <string>uni8A_00.glif</string>
    <key>uni8A9E</key>
    <string>uni8A_9E_.glif</string>
    <key>uni8B49</key>
    <string>uni8B_49.glif</string>
    <key>uni8BBA</key>
    <string>uni8B_B_A_.glif</string>
    <key>uni8BC1</key>
    <string>uni8B_C_1.glif</string>
    <key>uni8ECD</key>
    <string>uni8E_C_D_.glif</string>
    <key>uni8F14</key>
    <string>uni8F_14.glif</string>
    <key>uni9304</key>
    <string>uni9304.glif</string>
    <key>uni9322</key>
    <string>uni9322.glif</string>
    <key>uni93AE</key>
    <string>uni93A_E_.glif</string>
    <key>uni9445</key>
    <string>uni9445.glif</string>
    <key>uni95A3</key>
    <string>uni95A_3.glif</string>
    <key>uni964D</key>
    <string>uni964D_.glif</string>
    <key>uni9662</key>
    <string>uni9662.glif</string>
    <key>uni9928</key>
    <string>uni9928.glif</string>
    <key>uni9C32</key>
    <string>uni9C_32.glif</string>
    <key>uni9EC4</key>
    <string>uni9E_C_4.glif</string>
    <key>uniE91C</key>
    <string>uniE_91C_.glif</string>
    <key>uniE91D</key>
    <string>uniE_91D_.glif</string>
    <key>uniE940</key>
    <string>uniE_940.glif</string>
    <key>uniE942</key>
    <string>uniE_942.glif</string>
    <key>uniFE10</key>
    <string>uniF_E_10.glif</string>
    <key>uniFE11</key>
    <string>uniF_E_11.glif</string>
    <key>uniFE12</key>
    <string>uniF_E_12.glif</string>
    <key>uniFE13</key>
    <string>uniF_E_13.glif</string>
    <key>uniFE19</key>
    <string>uniF_E_19.glif</string>
    <key>uniFF0C</key>
    <string>uniF_F_0C_.glif</string>
    <key>uniFF1A</key>
    <string>uniF_F_1A_.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
  </dict>
</plist>
