name: CI

on: [push, pull_request]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          cache: 'pip'
      - name: Build font
        run: |
          pip install -r requirements.txt
          CI=1 make font
      - uses: xu-cheng/texlive-action@v2
        with:
          scheme: full
          run: |
            latexmk -lualatex main
