name: Release

permissions:
  contents: write

on:
  push:
    tags: ["*"]
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          cache: 'pip'
      - name: Build font
        run: |
          pip install -r requirements.txt
          CI=1 make font
      - uses: xu-cheng/texlive-action@v2
        with:
          scheme: full
          run: |
            latexmk -lualatex main
      - uses: softprops/action-gh-release@v2
        with:
          files: |
            main.pdf
            LICENSE
